<div class="container">
    <h2>Recipes</h2>

    <div *ngFor="let recipe of recipes" class="mb-5">
        <p
            (click)="onSelect(recipe)"
            style="cursor: pointer;"
        >
            {{recipe.name}}
        </p>
        <a [routerLink]="['/recipes/', recipe.id]">Edit</a>
        <br/>
        <a (click)="onDelete(recipe)" class="link-primary">Delete</a>
    </div>

    <div *ngIf="selectedRecipe">
        <br>
        <h4>{{selectedRecipe.name}}</h4>
        <h5>({{selectedRecipe.type}})</h5>
        <p>{{selectedRecipe.description}}</p>
        <br>
    </div>

    <a
        [routerLink]="['/recipes']"
        class="btn btn-primary"
    >
        Add Recipe
    </a>
</div>
