<div class="recipe-grid">
    <div class="head">
        <h2>Recipes</h2>
    </div>

    <div class="recipes">
        <div
            *ngFor="let recipe of recipeList"
            class="mb-5 list"
        >
            <p
                (click)="onSelect(recipe)"
                style="cursor: pointer;"
            >
                {{recipe.name}}
            </p>

            <br>

        </div>

        <a
            [routerLink]="['/recipes/add']"
            class="btn btn-primary add"
        >
            Add Recipe
        </a>
    </div>

    <div class="detail">
        <div *ngIf="selectedRecipe">
            <br>
            <h4>{{selectedRecipe.name}}</h4>
            <h5>({{selectedRecipe.type.name}})</h5>
            <p>{{selectedRecipe.description}}</p>
            <br>
            <a [routerLink]="['/recipes/edit/', selectedRecipe.id]">Edit</a>
            <br>
            <a
                (click)="onDelete(selectedRecipe)"
                class="link-primary"
            >
                Delete
            </a>
        </div>
    </div>
</div>
