.recipe-grid {
  display: grid;
  grid-template-areas:
    "head head"
    "recipes recipe";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 8fr;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.head {
  grid-area: head;
  text-align: center;
  border: 2px solid black;
}

.recipes {
  grid-area: recipes;
  display: grid;
  grid-template-areas:
    "title"
    "list"
    "add";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  border: 2px solid black;
  align-items: center;
  justify-items: center;
  width: 60%;
  height: 80%;
}

.title {
  grid-area: title;
  text-align: center;
  width: 80%;
}

.list {
  grid-area: list;
  overflow-y: scroll;
  text-align: left;
  width: 80%;
  height:90%
}

.add {
  grid-area: add;
  text-align: center;
  width: fit-content;
}

.recipe {
  grid-area: recipe;
  text-align: center;
  border: 2px solid black;
  width: 70%;
  height: 80%;
}
