<div class="recipe-grid">
  <div class="head">
    <h2>Recipes</h2>
  </div>

  <div class="recipes">
    <h5 class="title">List</h5>
    <div
      *ngFor="let recipe of recipeList"
      class="mb-5 list"
    >
      <p
        (click)="onSelect(recipe)"
        style="cursor: pointer;"
      >
        {{recipe.name}}
      </p>

      <br>

    </div>

    <a
      [routerLink]="['/recipes/0/edit']"
      class="btn btn-primary add"
    >
      Add Recipe
    </a>
  </div>

  <app-recipe
    class="recipe"
    [recipe]="selectedRecipe"
  ></app-recipe>

</div>
