<div class="container">
    <div>
        Loading-Spinner GIF by
        <a href="https://pixabay.com/users/blendertimer-9538909/?utm_source=link-attribution&utm_medium=referral&utm_campaign=animation&utm_content=37">Daniel Roberts</a>
        from
        <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=animation&utm_content=37">Pixabay</a>
    </div>
    <div>
        Recipe Logo (Navbar)<a href="https://www.freepik.com/icon/meal_2390741#position=52&page=2&term=cooking+logo&fromView=search">Icon by SBTS2018</a>
    </div>
</div>
