.step-grid {
  display: grid;
  row-gap: 5%;
  grid-template-areas:
    "pos desc";
  grid-template-columns: 0.25fr 5.75fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  padding: 1%;
}

.position {
  grid-area: pos;
  text-align: center;
  width: 100%;
  height: fit-content;
}

.desc {
  grid-area: desc;
  text-align: left;
  width: 100%;
}
