.home-grid {
  display: grid;
  grid-template-areas:
    "head head"
    "login register";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content auto;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.head {
  grid-area: head;
  text-align: center;
  margin-top: 1%;
  border: 2px solid black;
}

.login {
  grid-area: login;
  text-align: center;
  border: 2px solid black;
}

.register {
  grid-area: register;
  text-align: center;
  border: 2px solid black;
}