<div class="container main-container">
  <form
    [formGroup]="recipeForm"
    (ngSubmit)="onSubmit()"
  >
    <h3>{{title}}</h3>

    <div class="mb-3">
      <label
        for="rName"
        class="form-label"
      >
        Name
      </label>
      <input
        formControlName="rName"
        type="text"
        class="form-control"
        id="rName"
        name="rName"
        placeholder="The name of your recipe (required)"
        minlength="3"
        required
        [ngClass]="{'is-invalid': submitted && f['rName'].errors}"
      >
      <div
        *ngIf="submitted && f['rName'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['rName'].errors?.['required']">Recipe Name is required.</div>

        <div *ngIf="f['rName'].errors?.['minlength']">Name must be at least 3 characters.</div>
      </div>
    </div>
    <div class="mb-3">
      <label
        for="rType"
        class="form-label"
      >
        Type
      </label>
      <select
        formControlName="rType"
        class="form-control"
        name="rType"
        id="rType"
        required
      >
        <option disabled>Choose a type</option>
        <option
          *ngFor="let t of typeList"
          [ngValue]="t"
        >
          {{t.name}}
        </option>
      </select>
      <div
        *ngIf="submitted && f['rType'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['rType'].errors?.['required']">Type is required.</div>
      </div>
    </div>
    <div class="mb-3">
      <label
        for="rDesc"
        class="form-label"
      >
        Description
      </label>
      <textarea
        formControlName="rDesc"
        type="area"
        class="form-control"
        id="rDesc"
        name="rDesc"
        rows="3"
        minlength="30"
        required
      ></textarea>
      <div
        *ngIf="submitted && f['rDesc'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['rDesc'].errors?.['required']">Description is required.</div>
        <div *ngIf="f['rDesc'].errors?.['minlength']">
          Description must be at least 30 characters.
        </div>
      </div>
    </div>
    <div class="text-center submit-grid">
      <button
        class="btn btn-secondary me-2 cancel-butt"
        (click)="cancel()"
      >
        Cancel
      </button>
      <button
        class="btn btn-primary save-butt"
        type="submit"
      >
        Save
      </button>
    </div>
  </form>
</div>
