<div class="container main-container">
  <form
    novalidate
    [formGroup]="recipeForm"
    (ngSubmit)="saveRecipe()"
  >
    <h3>{{title}}</h3>

    <div class="mb-3">
      <label
        for="name"
        class="form-label"
      >
        Name
      </label>
      <input
        class="form-control"
        id="name"
        type="text"
        formControlName="name"
        [ngClass]="{'is-invalid': displayMessage['name']}"
      >
      <span class="invalid-feedback">{{displayMessage['name']}}</span>
    </div>
    <div class="mb-3">
      <label
        for="type"
        class="form-label"
      >
        Type
      </label>
      <select
        formControlName="type"
        class="form-control"
        id="type"
        [ngClass]="{'is-invalid': displayMessage['type']}"
      >
        <option disabled>Choose a type</option>
        <option
          *ngFor="let t of typeList"
          [ngValue]="t"
        >
          {{t.name}}
        </option>
      </select>
      <span class="invalid-feedback">{{displayMessage['type']}}</span>
    </div>
    <div class="mb-3">
      <label
        for="description"
        class="form-label"
      >
        Description
      </label>
      <textarea
        formControlName="description"
        type="area"
        class="form-control"
        id="description"
        rows="3"
        [ngClass]="{'is-invalid': displayMessage['description']}"
      ></textarea>
      <span class="invalid-feedback">{{displayMessage['description']}}</span>
    </div>
    <div class="text-center submit-grid">
      <button
        class="btn btn-secondary me-2 cancel-butt"
        (click)="onSaveComplete()"
      >
        Cancel
      </button>
      <button
        class="btn btn-primary save-butt"
        type="submit"
      >
        Save
      </button>
    </div>
  </form>
</div>
