.submit-grid {
  display: grid;
  grid-template-areas: ". . cancel . save . .";
  grid-template-columns: repeat(7, 1fr);
}

.cancel-butt {
  grid-area: cancel;
}

.save-butt {
  grid-area: save;
}
