.main-container {
  width: 60%;
}

.submit-grid {
  display: grid;
  grid-template-areas: 
  ". . cancel . save . .";
  grid-template-rows: repeat(7, 1fr);
}

.cancel-butt {
  grid-area: cancel;
}

.save-butt {
  grid-area: save;
}